.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box-container .input {
    width: 100%;
    max-width: 400px;
    margin: 0 0 1rem;
    height: 2rem;
}

.box-container .button {
    width: 100%;
    max-width: 400px;
    margin: 0 0 1rem;
    height: 2rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    padding: 0 1rem;
    color: #fff;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 0.5rem;
}

.navbar ul li a {
    color: #001;
    text-decoration: none;
    font-weight: 800;
}